<%= form_with model: [article, article.comments.build ] do |form| %>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

    <% @comment.errors.full_messages_for(:body).each do |message| %>
    <div><%= message %></div>
    <% end %>



  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: "public" %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>